In [1]:
a = 1
while a <= 10 :
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

In [2]:
#sum up the number till some point 
number = int(input("enter the number"))
starting_point = 0
counter = 1

while counter <= number:
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

enter the number 5

15

In [3]:
number = int(input("enter the number"))
factorial = 1
counter = 1

while number > 0:
    factorial = number * factorial 
    number -= 1
factorial

enter the number 7

5040

fibonacci series

In [4]:
number = int(input("enter the number of terms you want"))
first_term = 0
second_term = 1

if number == 1:
    print(first_term)
    
print(first_term)
print(second_term)
while number > 2:
    next_term = first_term + second_term 
    print(next_term)
    first_term = second_term 
    second_term = next_term
    number -= 1

enter the number of terms you want 10

0
1
1
2
3
5
8
13
21
34

In [5]:
number = int(input("enter the number of terms you want"))
first_term = 0
second_term = 1

if number == 1:
    print(first_term)
    
print(first_term)
print(second_term)
for i in range(number-2):
    next_term = first_term + second_term 
    print(next_term)
    first_term = second_term 
    second_term = next_term

enter the number of terms you want 10

0
1
1
2
3
5
8
13
21
34

In [6]:
word = input("enter your string for reversal")
reverse = ""
length = len(word)
for i in range(length):
    reverse = reverse + word[length - 1]
    length = length - 1
print(reverse)

enter your string for reversal mahima

amiham

In [7]:
word = input("enter your string for reversal")
reverse = ""
length = len(word)
while length > 0:
    reverse = reverse + word[length - 1]
    length = length - 1
print(reverse)

enter your string for reversal amiham

mahima

In [10]:
#PRINT TABLE OF GIVEN NUMBER
number = int(input("Enter the number"))
i = 1

while i <= 10:
    print(f"{number} * {i} = {number*i}")
    i += 1

Enter the number 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [12]:
n = 5
i = 1
while i < n:
    print(i)
    i = i + 1
else:
    print("This will be executed once your while will complete it sucessfully")

1
2
3
4
This will be executed once your while will complete it sucessfully

In [14]:
n = 5
i = 1
while i < n:
    print(i)
    if i == 3:
        break
    i = i + 1
else:
    print("This will be executed once your while will complete it sucessfully")

1
2
3